ul.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

/* Style the menu items */
ul.menu-bar li {
    float: left;
}

ul.menu-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the color of links when hovered */
ul.menu-bar li a:hover {
    background-color: #555;
}

.image-button {
    background-image: url('static\\images\\im1.jpg'); /* Updated relative path to the image */
    background-size: cover; /* Adjust this as needed */
    background-repeat: no-repeat;
    width: 200px; /* Adjust the button width */
    height: 50px; /* Adjust the button height */
    color: white; /* Text color */
    border: none;
    cursor: pointer; /* Change cursor to a pointer on hover */
    /* You can add more styles as needed */
}